<div class="component">
    <a><h1>Election System</h1></a>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="label-content">
  
      <!-- Campo de usuario -->
      <div class="label">
        <input formControlName="username" type="text" placeholder="Usuario" size="12px" required>
      </div>
      
      <!-- Campo de contraseña -->
      <div class="label">
        <input formControlName="password" type="password" placeholder="Contraseña" size="12px" required>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid" (ngSubmit)="login()">Iniciar Sesión</button>

      <p-messages [value]="msgs"></p-messages>
    </form>
</div>
  