@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/poppins-v20-latin-500.woff') format('woff');
}
  
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

:root {
    --primary-300: #5c6bc0; 
    --orange-300: #ffa726;
    --green-300: #66bb6a;
    --cyan-300: #00bcd4;
    --surface-border: #dfe7ef;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: -1rem;
}

.col-12 {
    flex: 0 0 auto;
    padding: 1rem;
    width: 100%;
}

@media screen and (min-width: 1200px) {

    .xl\:col-9 {
        flex: 0 0 auto;
        padding: 1rem;
        width: 75%;
    }

    .xl\:col-6 {
        flex: 0 0 auto;
        padding: 1rem;
        width: 50%;
    }

    .xl\:col-3 {
        flex: 0 0 auto;
        padding: 1rem;
        width: 25%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #293241;
    font-size: 1.3rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

.mr-1{
    margin-right: 1rem;
}

html {
    height: 100%;

    body {
        height: 100%;
        background-color:#f9fafb;

        app-root {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            
            & > div {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & > app-login, & > app-register, & > app-webchat, & > app-error {
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                & > app-client {
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
 
                        & > .mat-tab-group {
                            margin-top: 60px;
                            height: calc(100vh - 51px) !important
                        }
                    }
                }

            }
        }
    }
}

.card{
    background: #ffffff;
    border: 1px solid #dfe7ef;
    padding: 2rem;
    box-shadow: 0px 4px 30px rgba(221, 224, 255, .54);
    border-radius: 12px;
}

.layout-breadcrumb {
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 14px;
    ol {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 1rem;
        flex-wrap: wrap;
        color: #83888f;;

        li {
            font-weight: 500;
        }
    }
}

.layout-content-wrapper{
    padding: 30px;
}

.surface-0 {
    background-color: #ffffff !important;
}

.h-screen {
    height: 100vh !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex {
    display: flex !important
}

.p-menubar {
    display: flex;
    align-items: center;
    border: 0!important;
    border-radius: 0!important;
}