<div class="layout-container">
    <app-app-topbar-public></app-app-topbar-public>

    <div class="layout-content-wrapper">
        <div class="layout-content">
            <p-card header="Formulario de Votación">
                <form [formGroup]="voteForm" (ngSubmit)="sendVote()">
                    <div class="grid">
                        <div class="col-12 sm:col-6 xl:col-6">
                            <div class="p-fluid">
                                <div class="flex flex-col mb-2">
                                    <label for="document">Número de Cédula</label>
                                    <input id="document" pInputText formControlName="document" />
                                
                                    @if (voteForm.controls['document'].invalid && voteForm.controls['document'].touched) {
                                        <small class="p-error">
                                            Número de cédula requerido y debe contener solo números.
                                        </small>
                                    }
                                </div>
                                
                                <div class="flex flex-col mb-2">
                                    <label for="candidate">Seleccionar Candidato</label>
                                    <p-dropdown
                                        [options]="candidates"
                                        optionLabel="fullName"
                                        optionValue="candidateId"
                                        placeholder="Seleccione un candidato"
                                        formControlName="candidateId"
                                    ></p-dropdown>
                                    @if (voteForm.controls['candidateId'].invalid && voteForm.controls['candidateId'].touched) {
                                        <small class="p-error">
                                            Seleccione un candidato.
                                        </small>
                                    }                                    
                                </div>
                                <div class="flex justify-content-end mb-2">
                                    <button pButton type="submit" label="Enviar Voto" [disabled]="voteForm.invalid"></button>
                                </div>
                                <p-messages></p-messages>
                            </div>
                        </div>
                    </div>
                </form>
            </p-card>
        </div>
    </div>

    <div class="layout-mask"></div>
</div>
